.orders {
    background: var(--blue);
    margin: 40px 30px 0;
}

.order__content {
    display: flex;
    gap: 25px;
    padding: 60px;
    justify-content: space-between;
}

.order__left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.order__left-title {
    color: var(--white);
    font-family: var(--CG);
    font-size: 36px;
    font-weight: 700;
}

.order__left-desc {
    color: var(--white);
    font-family: var(--EXR);
    font-size: 16px;
    width: 548px;
    line-height: 25px;
}

.order__left-tel,
.order__left-mail,
.order__left-soc {
    display: flex;
    gap: 5px;
}

.order__left-tel_icon,
.order__left-mail_icon,
.order__left-inst,
.order__left-tg {
    font-size: 22px;
    width: 28px;
    height: 28px;
}

.order__left-tel_l,
.order__left-mail_l {
    font-size: 20px;
    color: var(--white);
    text-align: center;
}

.order__right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
}

.order__right-input_name,
.order__right-input_tel {
    width: 550px;
    padding: 12px;
    background: none;
    border: none;
    border-bottom: 2px solid var(--white);
    outline: none;
    color: var(--white);
    font-size: 20px;
}

.order__right-input_name::placeholder,
.order__right-input_tel::placeholder,
.order__right-input_text::placeholder {
    color: var(--white);
    font-size: 20px;
}

.order__right-input_text {
    width: 550px;
    padding: 12px;
    background: none;
    border: none;
    border-bottom: 2px solid var(--white);
    outline: none;
    padding: 12px 12px 40px;
}

.order__right-btn {
    padding: 10px 40px;
    width: 165px;
    text-align: center;
    color: var(--blue);
    font-size: 16px;
    outline: none;
    border: none;
    background: var(--white);
    transition: 0.3s ease;
}

.order__right-btn:hover {
    border: 1px solid var(--white);
    color: var(--white);
    background: var(--blue);
}

.gallery {
    padding: 160px 0 0;
    background: var(--white);
}

.gallery__title {
    font-family: var(--CG);
    color: var(--blue);
    font-size: 36px;
    text-align: center;
    margin: 0 0 32px;
}

.gallery__content {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-auto-rows: 250px;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

.gallery__img {
    width: 100% !important;
    height: 100% !important;
}

.gallery__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__img:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gallery__img:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.gallery__img:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.gallery__img:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.partners {
    padding: 120px 30px 0;
    margin: 0 auto;

}

.partners__title {
    text-align: center;
    font-family: var(--CG);
    color: var(--blue);
    font-size: 36px;
    font-weight: 700;
}

.partners__swipe {
    width: 100%;
    margin: 60px auto;
    overflow: hidden;
    display: flex;
}

.partners__swipe-img {
    display: flex;
    align-items: center;
    gap: 0;
    animation: scrollPartners 60s linear infinite;
    width: max-content;
}

.partners__swipe-img img {
    height: 100px;
    width: auto;
    flex-shrink: 0;
    display: block;
    object-fit: contain;
}

.footer {
    background: var(--blue);
    padding: 12px 0;
    height: 74px;
}

.footer__block {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer__left-text {
    color: var(--white);
    font-size: 14px;
}

.footer__center-soc {
    display: flex;
    gap: 20px;

}

.footer__center-inst,
.footer__center-tg {
    font-size: 25px;
}

.footer__right-text {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
}

@keyframes scrollPartners {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .gallery__content {
        grid-template-columns: 1fr !important;
        grid-auto-rows: auto;
    }

    .gallery__img:nth-child(n) {
        grid-column: auto !important;
        grid-row: auto !important;
    }
}