.top__block {
    background: var(--header);
    height: 590px;
    position: relative;
    overflow: hidden;
    padding-top: 70px;
}

.top__block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
    z-index: 1;
    pointer-events: none;
}

/* header start */
.header {
    padding: 20px 0;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background: transparent;
}

.header--scrolled {
    background: var(--white);
    color: var(--blue);
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header--scrolled::after {
    display: none !important;
}

.header--scrolled .header__nav-list_item-link {
    color: var(--blue);
}

.header--scrolled .header__nav-logo img {
    opacity: 0;
}

.header--scrolled .header__nav-logo::before {
    opacity: 1;
}

.header::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background: grey;
    height: 1px;
    bottom: 0;
    width: 100%;
}

.header:hover,
.header__nav-list_item-link:hover {
    background: var(--white);
    color: var(--blue);
}

.header:hover .header__nav-list_item-link {
    color: var(--blue);
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__nav-logo img {
    width: 180px;
    height: 28px;
    max-width: 100%;
    height: 100%;
    transition: 0.3s;
    display: block;
    z-index: 1;
}

.header__nav-logo:hover img,
.header:hover .header__nav-logo img {
    opacity: 0;
}

.header__nav-logo {
    position: relative;
    display: inline-block;
    overflow: visible;
}

.header__nav-logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 28px;
    max-width: 100%;
    height: 100%;
    background-image: url('../../images/icons/logo1.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.3s;
    z-index: 2;
}

.header__nav-logo:hover::before,
.header:hover .header__nav-logo::before {
    opacity: 1;
}

.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.header__nav-list_item-link {
    color: var(--white);
    font-size: 16px;
    display: inline-block;
    font-family: var(--EXM);
    position: relative;
    text-decoration: none;
}

.header__nav-list_item-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.header__nav-list_item-link:hover::after {
    transform: translateX(-50%);
}

/* header end */

/* about start */

.about {
    display: flex;
    gap: 20px;
    position: relative;
    padding: 100px 30px 0;
    flex-direction: column;
    z-index: 2;
}

.about-h {
    color: var(--white);
    font-weight: 700;
    font-size: 60px;

    font-family: var(--CG);
}

.about-p {
    color: var(--white);
    font-size: 18px;
    max-width: 600px;
    line-height: 25px;
}

.about-btn {
    color: var(--white);
    font-size: 18px;
    padding: 8px 20px;
    margin-top: 10px;
    background: none;
    border: var(--white) 2px solid;
    width: 158px;
    transition: 0.3s;

}

.about-btn:hover {
    background: var(--blue);
}

/* about end */

/* feature start */

.feature__block {
    padding: 80px 0 80px;
    position: relative;
    z-index: 2;
}

.feature__content {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.feature__content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    position: relative;
    padding: 0 20px;

}

.feature__content-block:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 120px;
    background: #d0d0d0;
}

.feature__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 25px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease;
}

.feature__text {
    color: #000000;
    font-size: 16px;
    font-family: var(--EXM);
    font-weight: 500;
}

.feature__icon.rotate {
    transform: rotateY(180deg);
}

/* feature end */

@media screen and (max-width:1000px) {
    .header__nav-list {
        gap: 15px;
        text-align: center;

    }
}

@media screen and (max-width:950px) {
    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
    }

    .header__nav-list {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__nav-list_item-link {
        font-size: 20px;
    }
}

@media screen and (max-width:475px) {
    .feature__content {
        flex-wrap: wrap;
        gap: 20px 0;
    }
}

@media screen and (max-width:480px) {
    .about-h {
        font-size: 40px;
    }

    .about-p {
        font-size: 16px;
    }

    .about-btn {
        width: 100%;
        font-size: 14px;
    }
}

@media screen and (max-width:345px) {
    .about-p {
        font-size: 14px;
        line-height: 20px;
    }

    .about-h {
        font-size: 30px;
    }
}