* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Exo 2',sans-serif;
}

body {
    background: var(--white);

}

:root {
    --CG: 'CG', sans-serif;
    --EXM: 'EXM', sans-serif;
    --EXR: 'EXR', sans-serif;
    --white: #fff;
    --blue: #366AFE;
    --header: url(../../images/products/header-bg.jpg) no-repeat center/cover;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    margin: 0 auto;
}