* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Exo 2',sans-serif;
}

body {
    background: var(--white);

}

:root {
    --CG: 'CG', sans-serif;
    --EXM: 'EXM', sans-serif;
    --EXR: 'EXR', sans-serif;
    --white: #fff;
    --blue: #366AFE;
    --header: url(../../images/products/header-bg.jpg) no-repeat center/cover;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    max-width: 1460px;
    margin: 0 auto;
}

.speed {
    opacity: 0;
    transform: translateY(50px); 
    will-change: transform, opacity;
}

.speed.active {
    opacity: 1;
    transform: translateX(0); }

.call-wrapper {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.main-call-btn {
    position: relative;
    width: 65px;
    height: 65px;
    background-color: #3b71fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    z-index: 2;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.single-pulse {
    position: absolute;
    width: 65px;
    height: 65px;
    background: transparent; 
    border: 1px solid #3b71fe; 
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    animation: thin-ripple 1s infinite ease-out;
}

@keyframes thin-ripple {
    0% {
        transform: scale(1);
        opacity: 1; 
    }
    100% {
        transform: scale(2.2); 
        opacity: 0; 
    }
}